.debateroom__label {
    font-size:12px;
    color:gray;
}

.debateroom__speech-list {
    height: 400px;
    overflow-y: auto;
}

.debateroom__spector-list {
    height: 400px;
    overflow-y: auto;
}

.debateroom__chat-list {
    height: 400px;
    overflow-y: auto;
}

.debateroom__speech {
    font-size: 12px;
}


.debateroom__speech--cons {
    color: red;
}

.debateroom__speech--pros {
    color: blue;
}

.debateroom__chat{
    font-size: 12px;
}
