.debateroom__label {
    font-size:12px;
    color:gray;
}

.debateroom__speech-list {
    height: 400px;
    border: 1px solid gainsboro;
    overflow-y: auto;
}

.debateroom__spector-list {
    height: 400px;
    border: 1px solid gainsboro;
    overflow-y: auto;
}

.debateroom__chat-list {
    height: 400px;
    border: 1px solid gainsboro;
    overflow-y: auto;
}

.debateroom__speech {
    font-size: 12px;
}

.debateroom__chat{
    font-size: 12px;
}