<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>404</title>
</head>
<body>
<li>오류 정보
<ul>
    <li th:text="|timestamp: ${timestamp}|"></li>
    <li th:text="|path: ${path}|"></li>
    <li th:text="|status: ${status}|"></li>
    <li th:text="|message: ${message}|"></li>
    <li th:text="|error: ${error}|"></li>
    <li th:text="|exception: ${exception}|"></li>
    <li th:text="|errors: ${errors}|"></li>
    <li th:text="|trace: ${trace}|"></li>
</ul>
</li>
</body>
</html>