<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<html lang="en">
<head th:replace="fragments/header :: header">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <header class="header">
        <h1 class="header__title">토론방 생성</h1>
    </header>

    <form id="debateroom-save-form" class="form" th:object="${debateRoomSaveRequestDto}">
        <input class="form__input" type="hidden" th:field="*{userId}">

        <div class="form__row">
            <label class="form__label">카테고리</label>
            <select id="category-select" class="form__select" onchange="getTopic()">
                <option th:each="category : ${categories}" th:value="${category}" th:text="${category.category}"></option>
            </select>
        </div>

        <div class="form__row">
            <label class="form__label">주제</label>
            <select id="topic-list" class="form__select" th:field="*{topicName}">
            </select>
        </div>

        <div class="form__row">
            <label class="form__label">방제목</label>
            <input class="form__input" type="text" th:field="*{title}">
        </div>

        <div class="form__row">
            <label class="form__label">발언시간</label>
            <select id="speaking-time-select" class="form__select">
                <option th:each="speakingTime : ${speakingTimes}" th:text="${speakingTime.seconds}"></option>
            </select>
        </div>

        <div class="form__row">
            <label class="form__label">토론시간</label>
            <select id="discussion-time-select" class="form__select">
                <option th:each="discussionTime : ${discussionTimes}" th:text="${discussionTime.seconds}"></option>
            </select>
        </div>

        <button class="form__button" type="submit" onclick="debateRoomSave()">방 생성</button>
    </form>

    <div th:replace="fragments/footer :: footer" />

    <script src="/js/debateroom-save.js"></script>

</body>
</html>