<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<html lang="en">
<head th:replace="fragments/header :: header">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1>토론방 생성</h1>
    <form id="debateroom-save-form" th:object="${debateRoomSaveRequestDto}">
        <input type="hidden" th:field="*{userId}">

        <select id="category-select" onchange="getTopic()">
            <option th:each="category : ${categories}" th:value="${category}" th:text="${category.category}"></option>
        </select>

        <select id="topic-list">

        </select>

        <input type="text" th:field="*{title}">
        <input type="number" th:field="*{speakingTime}">
        <input type="number" th:field="*{discussionTime}">
        <button type="submit" onclick="debateRoomSave()">방 생성</button>
    </form>

    <div th:replace="fragments/footer :: footer" />
    <script src="/js/debateroom-save.js"></script>
</body>
</html>