<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<html lang="en">
<head th:replace="fragments/header :: header">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <nav class="navbar navbar-expand-sm fixed-top navbar-dark bg-dark">
        <a sec:authorize="isAuthenticated()" class="navbar-brand" href="/">Debate King</a>

        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li sec:authorize="isAnonymous()" class="nav-item">
                    <a class="nav-link" href="/user/save">회원가입</a>
                </li>
                <li sec:authorize="isAnonymous()" class="nav-item">
                    <a class="nav-link" href="/login">로그인</a>
                </li>
                <li sec:authorize="isAuthenticated()" class="nav-item">
                    <a class="nav-link" href="/logout">로그아웃</a>
                </li>
                <li sec:authorize="isAuthenticated()" class="nav-item">
                    <a class="nav-link" href="/user">내 정보</a>
                </li>
                <li sec:authorize="isAuthenticated()" class="nav-item">
                    <a class="nav-link" href="/debateroom/save">채팅방 만들기</a>
                </li>
                <li sec:authorize="isAuthenticated()" class="nav-item">
                    <a class="nav-link" href="/topic/save">주제 추가하기</a>
                </li>
            </ul>
        </div>
    </nav>

    <table class="table table-striped mt-5">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">카테고리</th>
                <th scope="col">주제</th>
                <th scope="col">방 제목</th>
                <th scope="col">방장</th>
                <th scope="col">발언시간</th>
                <th scope="col">토론시간</th>
                <th scope="col">참여자</th>
                <th scope="col">방 상태</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="debateRoom, index : ${debateRooms}">
                <th scope="row" th:text="${index.count}"></th>

                <td th:text="${debateRoom.category}"></td>
                <td th:text="${debateRoom.topic}"></td>
                <td th:text="${debateRoom.title}"></td>
                <td th:text="${debateRoom.owner}"></td>
                <td th:text="${debateRoom.speakingTime}"></td>
                <td th:text="${debateRoom.discussionTime}"></td>
                <td th:text="${debateRoom.spectorsNum}"></td>
                <td th:text="${debateRoom.start}"></td>
                <td><a th:href="@{/debateroom/{debateRoomId}(debateRoomId=${debateRoom.id})}">입장하기</a></td>
            </tr>
        </tbody>
    </table>

    <div th:replace="fragments/footer :: footer" />
</body>
</html>