<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<html lang="en">
<head th:replace="fragments/header :: header">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<header class="header">
    <h1 class="header__title">주제등록</h1>
</header>

<form id="topic-save-form" class="form" th:object="${topicSaveRequestDto}">
    <div class="form__row">
        <label class="form__label">카테고리</label>
        <select class="form__select" th:field="*{category}" required>
            <option th:each="category: ${categories}" th:value="${category}" th:text="${category.category}"></option>
        </select>
    </div>

    <div class="form__row">
        <label class="form__label">주제</label>
        <input class="form__input" type="text" th:field="*{name}" required>
    </div>

    <button class="form__button" type="submit" onclick="topicSave()">등록</button>
</form>

<div th:replace="fragments/footer :: footer" />

<script src="/js/topic-save.js"></script>
</body>
</html>