<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<html lang="en">
<head th:replace="fragments/header :: header">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<header class="header">
    <h1 class="header__title">주제등록</h1>
</header>

<div class="container w-50">
    <form method="post">
        <div class="row mb-3">
            <label for="category">카테고리</label>
            <select id="category" name="category" class="form-control" required>
                <option th:each="category: ${categories}" th:value="${category}" th:text="${category.category}"></option>
            </select>
        </div>
        <div class="row mb-3">
            <label for="name">주제</label>
            <input id="name" class="form-control" type="text" name="name" required>
        </div>

        <button class="btn btn-dark w-100 mb-3" type="submit">등록</button>
    </form>
</div>

<div th:replace="fragments/footer :: footer" />

</body>
</html>