<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head th:replace="fragments/header :: header">
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
</head>
<body>
    <h1>회원가입</h1>

    <form id="user-save-form" th:object="${userSaveRequestDto}">
        <input type="text" th:field="*{username}" required>
        <input type="password" th:field="*{password}" required>
        <button type="submit" onclick="userSave()">회원가입</button>
    </form>

    <div th:replace="fragments/footer :: footer" />

    <script src="/js/user-save.js"></script>
</body>
</html>